@media (min-width: 400px) {
  .card {
    padding: 3.1rem !important;
  }
  .card__img-container {
    width: 5rem;
    height: 5rem;
  }
  .card__title {
    font-size: 2.8rem;
  }
  .card__subtitle {
    font-size: 1.5rem;
  }
  .card__label {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
  }
  .card__submit {
    font-size: 1.9rem;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
