@media (min-width: 400px) {
  .btn {
    font-size: 1.5rem;
  }
  .rating-card,
  .thank-card {
    padding: 3.1rem !important;
  }
  .rating-card__img-container {
    width: 5rem;
    height: 5rem;
  }
  .rating-card__title {
    font-size: 2.8rem;
  }
  .rating-card__subtitle {
    font-size: 1.5rem;
  }
  .rating-card__label {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
  }
  .thank-card {
    padding: 3.5rem 3rem;
    border-radius: 2.5rem;
    gap: 1.5rem;
  }
  .thank-card__thank {
    font-size: 2.8rem;
  }
  .thank-card__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
