* {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Very-Dark-Blue);
}
input[type="radio"] {
  border: 0px;
  width: 0;
  height: 0;
  appearance: none;
}
/*---- btn ----*/
.btn {
  background-color: var(--Orange);
  color: var(--White);
  border: none;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  padding: 0.9rem 0 !important;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  transition: all 0.5s;
}
.btn:hover {
  background-color: var(--White);
  color: var(--Orange);
}
.btn:focus {
  transform: scaleX(1.1);
}

/*---- rating-card ----*/
.rating-card {
  display: flex;
  flex-direction: column;
  width: 87%;
  max-width: 40.15rem;
  padding: 2.4rem 2rem !important;
  border-radius: 2.5rem;
  gap: 1.8rem;
  background-color: var(--card-bg);
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.1rem;
}
.rating-card__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: var(--White);
  background-color: var(--circle-primary-bg);
}
.rating-card__title {
  font-size: 2.4rem;
  font-weight: 700;
}
.rating-card__form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.rating-card__subtitle {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--Light-Grey);
}
.rating-card__score-container {
  display: flex;
  justify-content: space-between;
}
.rating-card__label {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  background-color: var(--circle-primary-bg);
  color: var(--Light-Grey);
}
.rating-card__label:hover {
  color: var(--White);
  background-color: var(--Medium-Grey);
  cursor: pointer;
}
.rating-card__label:has(> .rating-card__input:checked) {
  background-color: var(--Orange);
  color: var(--white);
}
.rating-card__btn:disabled {
  opacity: 50%;
}
.rating-card__btn:disabled:hover {
  background-color: var(--Orange);
  color: var(--White);
}

/*---- thank-card ----*/
.thank-card {
  flex-direction: column;
  width: 87%;
  max-width: 40.15rem;
  padding: 3rem 2rem !important;
  border-radius: 2.1rem;
  gap: 1rem;
  background-color: var(--card-bg);
  display: none;
  align-items: center !important;
}
.thank-card__img {
  width: 50%;
  margin-bottom: 2.5rem !important;
}
.thank-card__result {
  border-radius: 2rem;
  background-color: var(--circle-primary-bg);
  color: var(--Orange);
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  width: 20rem;
  height: 3rem;
}
.thank-card__thank {
  font-size: 2.4rem;
  font-weight: 700;
}
.thank-card__text {
  font-size: 1.3rem;
  text-align: center;
  color: var(--Light-Grey);
}
.thank-card__btn {
  width: 100%;
  text-align: center;
}
